.table>tbody>tr>td{
		font-size: 11px;
		max-width:7em;
		padding:3px;
		/*text-align:center;*/
		vertical-align:middle;
		line-height:11px;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.table>tbody>tr>td:hover{
		white-space: normal;
		overflow-x: visible;
	}
	th{
		text-align: center;
	}
	.dollarSign{
		float:left;
	}
	.balanceColumn, .monthColumn{
		width:65px;
	}
	.balanceColumn:hover{
		background-color:lightblue;
		font-weight: bold;
		cursor: pointer;
	}
	.padding-right-0{
		padding-right:0;
	}